body{
    text-align: center;
}
h1,h3{
    background-color: chartreuse;
    width: 700px;
    margin: 20px auto;
    border-radius: 50px;
    border-style: solid;
}
canvas{
    margin-top: 50px;
    border-radius: 50px;
    border-style: solid;
}